body {
    background-color: darkorchid;
    background: url(bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

h1 {
    color: white;
    font-family: 'Arimo';
    font-size: 10vh;
    margin-top: 29vh;
    margin-bottom: 4.5vh;
}

input {
    background: rgba(256,256,256,0);
    border: none;
    border-bottom: 2px solid white;
    height: 5vh;
    width: 22vw;
    color: white;
    font-size: 5vh;
    font-family: 'Source Sans Pro';
    text-align: center;
    padding: 1vh;
}

input:focus {
    outline: none;
}

